<%if(success && success.length){%>
    <div class="successFlash">
  <span class="closeFlash">&times;</span>
  <%= success %>
</div>
<%}%>


<%if(error && error.length){%>
    <div class="successFlash">
  <span class="closeFlash">&times;</span>
  <%= error %>
</div>
<%}%>

<style>
.successFlash {
  position: fixed;  
  top: 80px;         
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;    

  background-color: rgb(255, 255, 255);
  color: rgb(50, 179, 191);
  padding: 15px 40px 15px 20px; 
  border-radius: 8px;
  width: fit-content;
  max-width: 90%;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.5px;
}


.successFlash .closeFlash {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 24px;  
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
  line-height: 1; 
}

.successFlash .closeFlash:hover {
  transform: translateY(-50%) scale(1.2); 
}

.successFlash:hover {
  transform: scale(1.02);
}

</style>

<script>
  const closeBtn = document.querySelector('.closeFlash');
  const flash = document.querySelector('.successFlash');

  if (closeBtn) {
    closeBtn.addEventListener('click', () => {
      flash.remove();
    });
  }

  if (flash) {
    setTimeout(() => {
      flash.remove();
    }, 2000); 
  }
</script>




