<link rel="stylesheet" href="/CSS/footer.css">
<hr>
<footer>
    <div class="footer">
        <div class="sec1">
            English(IN)
            &#8377; INR
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
        <div class="name">RoomForU</div>
        <div class="other">
            <a href="/privacy">Privacy</a>
            <a href="/term">Term</a>
            <a href="/copyright">&copy;Copyright2025</a>
        </div>
    </div>
</footer>

