<nav class="navbar">
  <div class="nav-left">
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-star"></i> RoomForU
    </a>
  </div>

  
  <div class="search-bar">
    <form action="/search" method="get">
      <input
        class="search-inp" 
        type="text"
        name="search"
        placeholder="Search by city, area, keywords..."
        class="search-inp"
      >
      <button class="search-btn" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>

  <!-- Hamburger -->
  <button class="menu-toggle" onclick="toggleMenu()">
   <i class="fa-solid fa-bars"></i>
  </button>

  <!-- Nav links -->
  <div class="nav-right" id="navMenu">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/listings">Listings</a>
    <a class="nav-link" href="/listings/new">Add New-Location</a>
    <a class="nav-link" href="/logout">Logout</a>

    <!--profile icon -->
    <a class="profile pbtn-div desktop-only" href="/profile">
      <i class="fa-regular fa-circle-user"></i>
    </a>

    <!--profile text -->
    <a class="nav-link mobile-only" href="/profile">Profile</a>
  </div>
</nav>

<script>
  function toggleMenu() {
    document.getElementById("navMenu").classList.toggle("open");
  }
</script>
