<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/CSS/addlisting.css">

<!-- <body>
    <h1>ADD NEW LOCATION</h1>
    <form method="POST" action="/listings">
  <input type="text" name="place[title]" placeholder="Title">
  <br>
  <input type="text" name="place[description]" placeholder="Description">
  <br>
  <input type="text" name="place[image]" placeholder="Image">
  <br>
  <input type="number" name="place[price]" placeholder="Price">
  <br>
  <input type="text" name="place[location]" placeholder="Location">
  <br>
  <input type="text" name="place[state]" placeholder="State">
  <br>
  <button type="submit">Submit</button>
</form>
</body> -->


<body>
  <div class="form-container">
    <h1>ADD NEW LOCATION</h1>
    <form class="location-form" method="Post" action="/listings">
      <input type="text" name="place[title]" placeholder="Title">
      <input type="text" name="place[description]" placeholder="Description">
      <input type="text" name="place[image]" placeholder="Image">
      <input type="number" name="place[price]" placeholder="Price">
      <input type="text" name="place[location]" placeholder="Location">
      <input type="text" name="place[state]" placeholder="State">
      <button type="submit">Submit</button>
    </form>
  </div>
</body>