<% layout('layouts/boilerplate') -%>

<body>
<h1 style="margin-left:5rem; margin-top: 3rem; font-size: 3rem;">Find and book <br> student rentals</h1>
 <p style="margin-left:5rem; margin-top: 0.5rem;">Search for affordable rooms and guest houses in other cities.</p>
</body>