<% layout('layouts/boilerplate') -%>
<body>
 <h1> All Listings:</h1>
 <form method="Get" action="/listings/new">
    <button>Add a new Location</button>
 </form>
        <ul>
            <% for(let list of allListings){ %>
               <li><a href="/listings/<%=list._id%>"><%= list.title %></a></li>   
            <%}%>
        </ul>
    
</body>
