
.form-container {
  max-width: 500px;
  margin: 2rem auto;
  background-color: #fff;
  padding: 2rem 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #222;
}

.location-form {
  display: flex;
  flex-direction: column;
}

.location-form input {
  padding: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: none;
  transition: border 0.2s ease;
}

.location-form select {
  padding: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: none;
  transition: border 0.2s ease;
}

.location-form input:focus {
  border-color: rgb(6, 149, 162);
}

.location-form button {
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  background-color: rgb(6, 149, 162);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.location-form button:hover {
  background-color: rgb(5, 124, 135);
  color:black;
  border-color: rgb(5, 133, 145);
}

/* Responsive*/
@media (max-width: 600px) {
  .form-container {
    padding: 1rem;
    margin: 1rem;
  }

  .form-container h1 {
    font-size: 1.5rem;
  }
}
