/* Container */
.container {
  max-width: 800px;
  margin: auto;
  margin-top:2rem;
  margin-bottom: 2rem;
  background: #fcfcfc;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Heading */
.container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1a1a1a;
}

/* Listing Info */
.listing-info {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.listing-info li {
  margin-bottom: 12px;
  font-size: 1rem;
}

/* image */
.cardImg{
 height:30rem; 
 overflow: hidden;
 border-radius: 10px;
}
.card-img{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

/* Buttons */
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}

.edit-btn {
  background-color: rgb(6, 149, 162);
  color: white;
}

.edit-btn:hover {
  background-color: rgb(4, 122, 133);
}

.delete-btn {
  background-color: rgb(6, 149, 162);
  color: white;
}

.delete-btn:hover {
  background-color: rgb(4, 122, 133);
  color: rgb(0, 0, 0);
}

/* Responsive design */
@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .container h1 {
    font-size: 1.5rem;
  }

  .listing-info li {
    font-size: 0.95rem;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
  .cardImg{
 height:15rem; 
}
}

.comment{
  display: flex;
  flex-direction: column;
}
textarea {
  resize: vertical; 
  padding: 8px;
  font-size: 16px;
}
#reviewbtn{
  margin-top:10px;
  border-radius:5px;
}
#reviewbtn:hover{
  color:white;
  background-color: black;
}