.Container {
  max-width: 500px;
  margin: 2rem auto;
  background-color: #fff;
  padding: 2rem 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  background-color: #fff;
  padding: 2rem 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.form-container h1 {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="file"],
.form-container select {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


.ShowMap {
  flex: 1 1 400px; 
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#currentLocationBtn {
  padding: 10px;
  background-color: rgb(9, 169, 183);;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#currentLocationBtn:hover {
  background-color: rgb(5, 119, 130);
}

#map {
  margin-top: 10px;
  height: 400px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.buttons{
  display: block;
  width: 81%;
  padding: 15px;
  margin: 20px auto 0 auto;
  font-size: 16px;
  background-color:rgb(6, 149, 162);;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color:rgb(5, 112, 122);;
}

@media screen and (max-width: 900px) {
  .Container {
    flex-direction: column;
  }
}

@media (max-width: 860px){
 .Container {
  padding: 20px;
} 

.form-container {
  padding: 15px;
}

}
